# Ignore Terraform state files and backup files
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform
**/*.tfstate.lock.info
**/.terraform.lock.hcl
**/*.DS_Store
terraform-associate.pdf.DS_Store
